{%load static%}
<header class="main_header_area">
    <div class="header_top">
        <div class="container">
            <div class="header_top_inner">
                <div class="pull-left">
                    <a href="#"><i class="fa fa-phone"></i>+ (234) 92 918 113</a>
                    <a href="#"><i class="fa fa-envelope-o"></i>info@hotelquovadisng.com</a>
                </div>
                <div class="pull-right">
                    <!-- <ul class="header_social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
<!--                         <li class="index"><a href="{% url 'index' %}">Home</a></li>
 -->                        <li class="rooms"><a href="{% url 'quovadisapp:rooms' %}">Rooms</a></li>
                        <li class="activities"><a href="{% url 'quovadisapp:activities' %}">Activities</a></li>
                        <li class="restaurant"><a href="{% url 'quovadisapp:restaurant' %}">Restaurant &amp; Bar</a></li>
                        <li class="about"><a href="{% url 'quovadisapp:about' %}">About</a></li>
                        <li class="contact"><a href="{% url 'quovadisapp:contact' %}">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>