{% extends 'quovadisapp/layout/base.html' %}
{% load static %}
{% block content %}
    <body>

        <!--================Header Area =================-->
        {% include 'quovadisapp/partials/header.html' %}
        <!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>Contact Us</h3>
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Get Contact Area =================-->
        <section class="get_contact_area">
            <div class="container">
                <div class="row get_contact_inner">
                    <div class="col-md-6">
                        
                        <div class="contact_us_form row m0">
                            <div class="left_ex_title">
                                <h2>ready <span>to make a booking?</span></h2><br/>
                                <h2>Got <span>any Queries?</span></h2><br/>
                                <h2>Get <span>in touch</span></h2><br/>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="right_contact_info">
                            <div class="contact_info_title">
                                <h3>Contact info</h3>
                                <p>We are happy to hear from you. <br/> You can reach us 24/7 via any of these channels</p>
                            </div>
                            <div class="contact_info_list">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>Address</h4>
                                        <p>4, Tarkwa Close, Off Monrovia Street <br /> Wuse 2, Abuja, Nigeria</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>Email</h4>
                                        <a href="#">info@hotelquovadisng.com</a>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>Phone</h4>
                                        <a href="#">+ (234) 92 918 113</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Get Contact Area =================-->
        
        <!--================Map Area =================-->
        <section class="contact_map_area">
            <div class="container">
{#                <div id="mapBox2" class="mapBox2 row m0 google-map" #}
{#                    data-lat="40.701083" #}
{#                    data-lon="-74.1522848" #}
{#                    data-zoom="12" #}
{#                    data-marker="img/map-marker.png" #}
{#                    data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."#}
{#                    data-mlat="40.701083"#}
{#                    data-mlon="-74.1522848">#}
{#                </div>#}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.8186592405627!2d7.469261715877438!3d9.080278890681196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0afb00fd3c4f%3A0x889ae931bfc9b4e7!2sQuo+Vadis+Hotel!5e0!3m2!1sen!2sng!4v1530981811621"
                        width="1200"
                        height="450"
                        frameborder="0"
                        style="border:0"
                        allowfullscreen
                >
                </iframe>
            </div>
        </section>
        <!--================End Map Area =================-->
        {% include 'quovadisapp/partials/footer.html' %}
    </body>
{% endblock %}