{% extends 'quovadisapp/layout/base.html' %}
{% load static %}
{% block content %}
    <body>

        <!--================Header Area =================-->

        {% include 'quovadisapp/partials/header.html' %}

        <!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>Rooms</h3>
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="room.html">Rooms</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Explor Room Area =================-->
        <section class="explor_room_area explore_room_list">
            <div class="container">
                <div class="explor_title row m0">
                    <div class="left_ex_title">
                        <h2>Explore Our <span>rooms</span></h2>
                        <p>choose room according to budget</p>
                    </div>
                </div>
                <div class="row explor_room_item_inner">
                    <div class="col-md-4 col-sm-6">
                        <div class="explor_item">
                            <a href="detail.html" class="room_image">
                                <img src="{% static 'img/room/room-1.jpg' %}" alt="">
                            </a>
                            <div class="explor_text">
                                <a href="detail.html"><h4>Budget room</h4></a>
                                <ul>
                                    <li><a href="#">10x15</a></li>
                                    <li><a href="#">Mountain view</a></li>
                                    <li><a href="#">2 Balcony</a></li>
                                </ul>
                                <div class="explor_footer">
                                    <div class="pull-left">
                                        <h3>$170 <span>/ Night</span></h3>
                                    </div>
                                    <div class="pull-right">
                                        <a class="book_now_btn" href="detail.html">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="explor_item">
                            <a href="detail.html" class="room_image">
                                <img src="{% static 'img/room/room-2.jpg' %}" alt="">
                            </a>
                            <div class="explor_text">
                                <a href="detail.html"><h4>Budget room</h4></a>
                                <ul>
                                    <li><a href="#">10x15</a></li>
                                    <li><a href="#">Mountain view</a></li>
                                    <li><a href="#">2 Balcony</a></li>
                                </ul>
                                <div class="explor_footer">
                                    <div class="pull-left">
                                        <h3>$170 <span>/ Night</span></h3>
                                    </div>
                                    <div class="pull-right">
                                        <a class="book_now_btn" href="detail.html">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="explor_item">
                            <a href="detail.html" class="room_image">
                                <img src="{% static 'img/room/room-3.jpg' %}" alt="">
                            </a>
                            <div class="explor_text">
                                <a href="detail.html"><h4>Budget room</h4></a>
                                <ul>
                                    <li><a href="#">10x15</a></li>
                                    <li><a href="#">Mountain view</a></li>
                                    <li><a href="#">2 Balcony</a></li>
                                </ul>
                                <div class="explor_footer">
                                    <div class="pull-left">
                                        <h3>$170 <span>/ Night</span></h3>
                                    </div>
                                    <div class="pull-right">
                                        <a class="book_now_btn" href="detail.html">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="explor_item">
                            <a href="detail.html" class="room_image">
                                <img src="{% static 'img/room/room-1.jpg' %}" alt="">
                            </a>
                            <div class="explor_text">
                                <a href="detail.html"><h4>Budget room</h4></a>
                                <ul>
                                    <li><a href="#">10x15</a></li>
                                    <li><a href="#">Mountain view</a></li>
                                    <li><a href="#">2 Balcony</a></li>
                                </ul>
                                <div class="explor_footer">
                                    <div class="pull-left">
                                        <h3>$170 <span>/ Night</span></h3>
                                    </div>
                                    <div class="pull-right">
                                        <a class="book_now_btn" href="detail.html">View details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Explor Room Area =================-->
        
       {% include 'quovadisapp/partials/footer.html' %}
    </body>
{% endblock content%}
</html>