<div class="header_top">
    <div class="container">
        <div class="header_top_inner">
            <div class="pull-left">
                <a href="#"><i class="fa fa-phone"></i>+ (1800) 456 7890</a>
                <a href="#"><i class="fa fa-envelope-o"></i>info@hilltownresort.com</a>
            </div>
            <div class="pull-right">
                <ul class="header_social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>